{
    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "C:\\Users\\DaviB\\OneDrive\\Desktop\\clean-api\\tsconfig.eslint.json"
    },
    "rules": {
        "@typescript-eslint/strict-boolean-expressions": "off",
        "@typescript-eslint/space-before-function-paren": "off",
        "@typescript-eslint/naming-convention": "off",
        "@typescript-eslint/no-misused-promises": "off"
    }
}
